NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2tpbGxlZC1wb2xsaXdvZy0xMS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_3yApwnNUIfsOhJxPutVhvN8At4xldmbDKpOqIIBxtl

DATABASE_URL=

NEXT_PUBLIC_CLERK_SIGN_UP_URL= /sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_URL= /sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL= /setup
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL= /home

NEXT_PUBLIC_DEV_MODE = false
API_SECRET = 
 
ENCRYPTION_KEY = 

NEXT_PUBLIC_APP_URL= 
APP_URL = 



NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = pk_test_51R2MUuQCh9nmUfS84ZLEed27wrAYcpTHUpNv0iK2L2EIy0DepFP1M0tEvlYmbM17KYSQu0Qr1GImVMZeDTFxEiBg00WjwldnTD
STRIPE_SECRET_KEY = sk_test_51R2MUuQCh9nmUfS82hTuFpepHPXb5BlCB27ULzhfpJvez533DZMGMPKPvSQudfQqV86ad87hkUt2DaS7kVmhZXQ600iMPCxvk8

STRIPE_WEBHOOK_SECRET = 


STRIPE_SMALL_PACK_PRICE_ID = 
STRIPE_MEDIUM_PACK_PRICE_ID = 
STRIPE_LARGE_PACK_PRICE_ID = 



